body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  line-height: 40px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  line-height: 33px;
  font-weight: 500;
}

h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

h6 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 22px;
  font-weight: 400;
}

a {
  color: #2196f3;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

strong {
  font-weight: bold;
}

blockquote {
  margin-bottom: 20px;
  padding: 0px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 16px;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  margin-top: 7px;
  color: rgba(51, 51, 51, .56);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #2196f3;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #1565c0;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.white {
  background-color: #fff;
  color: #333;
}

.button.white:hover {
  background-color: hsla(0, 0%, 100%, .77);
}

.button.black {
  background-color: #333;
}

.button.black:hover {
  background-color: #000;
}

.button.black.with-field {
  width: 22%;
  margin-left: 2%;
  float: left;
}

.button.full-width {
  display: block;
  width: 100%;
}

.button.small {
  padding: 7px 12px;
  background-color: #2196f3;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}

.button.small:hover {
  background-color: #1565c0;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #a8a8a8;
}

.button.tab:hover {
  background-color: #7e7e7e;
}

.button.tab.w--current {
  background-color: #2196f3;
}

.button.tab.w--current:hover {
  background-color: #1565c0;
}

.button.with-field {
  width: 22%;
  margin-left: 2%;
  float: left;
}

.navigation-link {
  height: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navigation-link:hover {
  color: #2196f3;
}

.navigation-link.white {
  height: 80px;
  color: #fff;
  font-size: 14px;
  line-height: 44px;
}

.navigation-bar {
  background-color: #fff;
}

.navigation-bar.dark {
  position: fixed;
  left: 0px;
  right: 0px;
  display: block;
  height: 60px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, .5);
}

.navigation-bar.top {
  margin-top: 58px;
  margin-bottom: 124px;
  border-radius: 5px;
  background-color: #fff;
}

.navigation-menu.left {
  float: left;
}

.navigation-menu.on-bottom {
  float: none;
  text-align: center;
}

.brand-text {
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 23px;
  line-height: 26px;
  font-weight: 400;
}

.brand-link {
  height: 60px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.brand-link:hover {
  opacity: 0.66;
}

.brand-link.right {
  float: right;
}

.brand-link.on-top {
  display: block;
  float: none;
  text-align: center;
}

.brand-link.white {
  color: #fff;
}

.brand-link.left-spacing {
  margin-left: 15px;
  color: #fff;
}

.brand-link.left {
  margin-left: 16px;
}

.section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.section.centered {
  text-align: center;
}

.section.accent {
  background-color: #f3f3f3;
}

.section.dark {
  background-color: #5d5d5d;
  color: #fff;
}

.hero-slider {
  height: 455px;
  background-color: transparent;
}

.slide {
  padding-top: 82px;
  padding-right: 85px;
  padding-left: 85px;
  background-color: #dbdbdb;
}

.slide.two {
  background-color: #dbdbdb;
}

.header-section {
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #5d5d5d;
  color: #fff;
  text-align: center;
}

.page-heading {
  margin-top: 0px;
  margin-bottom: 11px;
}

.cta-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dbdbdb;
}

.cta-section.centered {
  text-align: center;
}

.cta-section.centered-accented {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.cta-heading {
  margin-top: 3px;
  margin-bottom: 0px;
  font-weight: 400;
}

.cta-heading.inline-block {
  display: inline-block;
  margin-top: 0px;
  margin-right: 13px;
}

.align-right {
  text-align: right;
}

.white-box {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.fixed-image-section {
  padding: 117px 20px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/example-bg.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/example-bg.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 125px;
  background-attachment: scroll, fixed;
  color: #fff;
  text-align: center;
}

.hero-section {
  overflow: visible;
  padding-top: 300px;
  padding-bottom: 200px;
  background-color: #f1f1f1;
  background-image: url('../images/Banner-Cover-resized-min.png');
  background-position: 0px 0px;
  background-size: cover;
  text-align: center;
}

.hero-section.centered {
  text-align: center;
}

.slider-navigation {
  font-size: 11px;
}

.slider-icon-circle {
  width: 50px;
  height: 50px;
  padding: 6px;
  font-size: 33px;
}

.hero-heading {
  display: block;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.hero-subheading {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  color: hsla(0, 0%, 100%, .73);
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 9px 20px;
  border: 2px solid #2196f3;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #2196f3;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.hollow-button:hover {
  border-color: #1565c0;
  color: #1565c0;
}

.hollow-button.white {
  border-color: #fff;
  color: #fff;
}

.hollow-button.white:hover {
  border-color: hsla(0, 0%, 100%, .64);
  color: hsla(0, 0%, 100%, .72);
}

.section-heading {
  margin-bottom: 20px;
}

.section-heading.centered {
  text-align: center;
}

.main-container {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.form-label {
  margin-bottom: 6px;
  font-size: 13px;
  text-transform: uppercase;
}

.section-subheading.center {
  font-size: 20px;
  text-align: center;
}

.section-title-group {
  margin-bottom: 62px;
}

.section-title-group.centered {
  text-align: center;
}

.form-field {
  min-height: 41px;
  margin-right: 1px;
  margin-bottom: 17px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.form-field:focus {
  box-shadow: 0 0 0 2px #2196f3;
}

.form-field.text-area {
  min-height: 110px;
}

.form-field.with-button {
  width: 75%;
  margin-bottom: 0px;
  float: left;
}

.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
}

.picture-border {
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .12);
}

.round-image {
  margin-bottom: 13px;
  border-radius: 100px;
}

.social-button {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 8px;
  border-radius: 100px;
  background-color: #333;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
}

.social-button:hover {
  background-color: #1565c0;
  opacity: 1;
}

.social-button.border {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, .36);
  background-color: transparent;
}

.social-button.facebook {
  background-color: #3c5791;
}

.social-button.twitter {
  background-color: #29a9e8;
}

.social-button.red {
  background-color: #d11529;
}

.social-button.pink {
  background-color: #fc488f;
}

.social-button.pink2 {
  background-color: #ed1081;
}

.social-button.orange {
  background-color: #db4e34;
}

.social-button.vimeo {
  background-color: #1ebae7;
}

.social-button.linkdin {
  background-color: #1485c3;
}

.social-button.instagram {
  background-color: #4b769b;
}

.social-button.tumblr {
  background-color: #2e5270;
}

.social-button.webflow {
  background-color: #3278bd;
}

.social-button.medium {
  background-color: #549f63;
}

.social-icon-link {
  padding: 3px;
  opacity: 1;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.social-icon-link:hover {
  opacity: 0.5;
}

.profile-image {
  margin-bottom: 15px;
  border-radius: 100px;
}

.hero-with-nav {
  background-color: #dbdbdb;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer.center {
  text-align: center;
}

.footer.centered-smaller {
  padding-top: 33px;
  padding-bottom: 33px;
}

.footer.accent {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #f1f1f1;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.footer.centered-accented {
  background-color: #f1f1f1;
  text-align: center;
}

.float-right {
  float: right;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #2196f3;
  text-decoration: none;
}

.link:hover {
  color: #1565c0;
}

.footer-brand-text {
  font-size: 26px;
  line-height: 33px;
}

.sidemenu-wrapper {
  margin-left: 10px;
  padding-left: 20px;
}

.sidemenu-title {
  margin-bottom: 10px;
}

.sidemenu-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #8f8f8f;
  text-decoration: none;
}

.sidemenu-link:hover {
  color: #333;
}

.grid-image {
  margin-bottom: 20px;
}

.info-wrapper {
  margin-bottom: 14px;
}

.info-icon {
  float: left;
}

.info-text {
  margin-left: 34px;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, .74);
  text-decoration: none;
}

.footer-link:hover {
  color: #3b99d9;
}

.footer-link.with-icon {
  margin-left: 30px;
}

.hero-title-wrapper {
  margin-bottom: 155px;
}

.icon-left {
  padding: 6px;
  float: left;
  color: #919191;
}

.text-right {
  margin-left: 49px;
}

.left-navigation {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: #dbdbdb;
}

.nav-link {
  display: block;
  padding: 7px 0px;
  text-align: center;
}

.nav-menu {
  float: none;
}

.logo-link {
  display: block;
  margin-top: 216px;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}

.content {
  overflow: hidden;
  width: 80%;
  float: left;
}

.social-footer {
  margin-top: 56px;
  text-align: center;
}

.grid-fours {
  width: 25%;
  padding: 10px;
  float: left;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.flushed-grid {
  width: 25%;
  float: left;
}

.flushed-grid.thirds {
  width: 33.33%;
}

.flushed-grid.sixths {
  width: 16.66%;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.success-wrapper {
  padding: 31px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
}

.success-message {
  margin-bottom: 0px;
}

.error-wrapper {
  border-radius: 5px;
  background-color: #d32f2f;
  color: #fff;
}

.error-message {
  margin-bottom: 0px;
}

.social-link-wrapper {
  text-align: center;
}

.background {
  background-color: #dbdbdb;
}

.custom-container {
  display: block;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.rich-text h1 {
  margin-top: 30px;
}

.rich-text h3 {
  margin-top: 30px;
}

.rich-text h5 {
  margin-top: 30px;
}

.rich-text h4 {
  margin-top: 30px;
}

.rich-text h6 {
  margin-top: 30px;
}

.image-column {
  text-align: center;
}

.content-column {
  padding-top: 42px;
}

.feature-column {
  text-align: center;
}

.center-content {
  text-align: center;
}

.waterfall-content-column {
  padding-top: 39px;
}

.waterfall-image-column {
  text-align: center;
}

.text-block {
  margin-bottom: 30px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #fff;
  font-size: 24px;
}

.text-block-2 {
  display: inline-block;
}

.image {
  display: inline-block;
  margin-top: 9px;
  padding-top: 0px;
  float: none;
}

.div-block {
  background-image: url('../images/example-bg.png'), url('../images/example-bg.png'), url('../images/example-bg.png');
  background-position: 0px 0px, 0px 0px, 0px 0px;
  background-size: 125px, 125px, 125px;
}

.div-block-2 {
  background-image: url('../images/Cover-Top-Line.png'), url('../images/example-bg.png');
  background-position: 0px 0px, 0px 0px;
  background-size: 1185px, 125px;
}

.heading {
  margin-bottom: 25px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #cdaa68;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.text-block-3 {
  margin-bottom: 25px;
  color: #595567;
  font-size: 18px;
  text-align: center;
}

.paragraph {
  color: #666;
  font-size: 14px;
}

.section-2 {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url('../images/side-graphic.png'), url('../images/side-graphic-right.png'), url('../images/Section-2-Banner-reszied.png');
  background-position: 0px 100%, 100% 0px, 0px 0px;
  background-size: 242px, 242px, cover;
  background-repeat: no-repeat, no-repeat, repeat;
}

.div-block-3 {
  background-image: url('../images/side-graphic-right.png');
  background-position: 100% 0px;
  background-size: 121px;
  background-repeat: no-repeat;
}

.section-3 {
  background-image: url('../images/Section-3-Background.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-2 {
  text-align: left;
}

.image-3 {
  text-align: center;
}

.column {
  text-align: center;
}

.column-2 {
  text-align: center;
}

.column-3 {
  text-align: center;
}

.paragraph-2 {
  margin-top: 70px;
  margin-bottom: 60px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.paragraph-3 {
  margin-top: 60px;
  margin-bottom: 80px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.column-4 {
  text-align: center;
}

.column-5 {
  text-align: center;
}

.paragraph-4 {
  color: #666;
  font-size: 14px;
}

.heading-2 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #cdaa68;
  font-size: 32px;
  font-weight: 700;
}

.image-4 {
  margin-top: 80px;
  margin-right: 0px;
}

.section-4 {
  background-image: url('../images/Section-4-Background.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

.image-5 {
  margin-top: 0px;
}

.heading-3 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.heading-4 {
  margin-bottom: 38px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.paragraph-5 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.row-2 {
  padding-top: 100px;
}

.image-6 {
  display: block;
  margin-left: 30px;
  float: none;
}

.div-block-4 {
  width: 400px;
}

.div-block-5 {
  width: 400px;
}

.section-5 {
  background-image: url('../images/Section-5-Background.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-5 {
  margin-bottom: 5px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.paragraph-6 {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.text-field {
  display: inline-block;
}

.submit-button {
  display: inline-block;
  float: none;
}

.text-field-2 {
  display: inline-block;
  width: 300px;
  height: 45px;
  margin-top: 7px;
  float: none;
  line-height: 45px;
}

.submit-button-2 {
  width: 100px;
  height: 45px;
  float: none;
  background-color: #cdaa68;
  font-size: 14px;
  line-height: 24px;
}

.form {
  text-align: center;
}

.container-2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-block-4 {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.section-6 {
  padding-top: 95px;
  padding-bottom: 90px;
  background-image: -webkit-linear-gradient(270deg, #1a1f26, #1a1f26);
  background-image: linear-gradient(180deg, #1a1f26, #1a1f26);
}

.text-block-5 {
  display: inline-block;
  font-size: 14px;
}

.text-block-6 {
  display: inline-block;
  margin-left: 55px;
  float: right;
  font-size: 14px;
}

.container-3 {
  padding-top: 65px;
  padding-bottom: 65px;
  background-image: url('../images/Cover-Bottom-Line.png'), url('../images/Cover-Top-Line_1.png');
  background-position: 50% 100%, 50% 0px;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
}

.image-7 {
  display: inline-block;
  margin-top: 16px;
  margin-left: 9px;
}

.image-8 {
  margin-top: 16px;
  margin-bottom: 0px;
  margin-left: 9px;
  padding-bottom: 0px;
}

.image-9 {
  position: absolute;
  bottom: 70px;
  display: inline-block;
}

.column-7 {
  text-align: left;
}

.column-8 {
  padding-top: 29px;
  text-align: center;
}

.column-9 {
  padding-top: 30px;
  text-align: center;
}

.column-10 {
  padding-top: 30px;
  text-align: center;
}

.column-11 {
  padding-top: 30px;
  text-align: center;
}

.column-12 {
  padding-top: 50px;
  padding-bottom: 0px;
  text-align: center;
}

.column-13 {
  padding-top: 50px;
  text-align: center;
}

.column-14 {
  padding-top: 50px;
  padding-bottom: 0px;
  text-align: center;
}

.column-15 {
  padding-top: 50px;
  text-align: center;
}

.text-block-7 {
  display: block;
  width: 155px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.section-7 {
  padding-top: 80px;
  padding-bottom: 100px;
  background-image: -webkit-linear-gradient(270deg, #1b1f2f, #1b1f2f);
  background-image: linear-gradient(180deg, #1b1f2f, #1b1f2f);
}

.heading-6 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.section-8 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-9 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('../images/Section-2-Banner-reszied.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-6 {
  height: 500px;
  padding-top: 55px;
  background-image: -webkit-linear-gradient(270deg, rgba(27, 31, 47, .7), rgba(27, 31, 47, .7));
  background-image: linear-gradient(180deg, rgba(27, 31, 47, .7), rgba(27, 31, 47, .7));
}

.div-block-7 {
  margin-bottom: 172px;
}

.heading-7 {
  margin-bottom: 40px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.heading-8 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.paragraph-7 {
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.paragraph-8 {
  color: #666;
  font-size: 14px;
}

.column-16 {
  padding-top: 60px;
}

.heading-9 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #cdaa68;
  font-weight: 700;
}

.paragraph-9 {
  color: #666;
  font-size: 14px;
  line-height: 20px;
}

.paragraph-10 {
  color: #666;
  font-size: 14px;
  line-height: 20px;
}

.paragraph-11 {
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #dadada;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}

.section-10 {
  padding-top: 80px;
  padding-bottom: 100px;
  background-image: -webkit-linear-gradient(270deg, #1b1f2f, #1b1f2f);
  background-image: linear-gradient(180deg, #1b1f2f, #1b1f2f);
}

.heading-10 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.image-13 {
  margin-top: 60px;
}

.column-17 {
  text-align: center;
}

.column-18 {
  right: 0px;
  padding-right: 10px;
  text-align: center;
}

.column-19 {
  text-align: center;
}

.column-20 {
  text-align: center;
}

.row-3 {
  clear: none;
}

.section-11 {
  overflow: scroll;
  padding-top: 60px;
  padding-bottom: 60px;
  clear: none;
  background-image: -webkit-linear-gradient(270deg, #090c10, #090c10);
  background-image: linear-gradient(180deg, #090c10, #090c10);
}

.paragraph-12 {
  display: block;
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-size: 14px;
  text-align: left;
}

.heading-11 {
  margin-top: 20px;
  margin-bottom: 2px;
  color: #cdaa68;
  font-size: 20px;
  line-height: 26px;
}

.text-block-8 {
  margin-bottom: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.list-item {
  color: #fff;
  font-size: 14px;
}

.list-item-2 {
  color: #fff;
  font-size: 14px;
}

.list-item-3 {
  color: #fff;
  font-size: 14px;
}

.unordered-list {
  display: block;
  width: 240px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.heading-12 {
  margin-bottom: 80px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.slide-3 {
  background-image: -webkit-linear-gradient(270deg, #090c10, #090c10);
  background-image: linear-gradient(180deg, #090c10, #090c10);
}

.slide-4 {
  background-image: -webkit-linear-gradient(270deg, #090c10, #090c10);
  background-image: linear-gradient(180deg, #090c10, #090c10);
}

.slider-2 {
  display: block;
}

.slide-nav {
  font-size: 10px;
}

.section-12 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: -webkit-linear-gradient(270deg, #1b1f2f, #1b1f2f);
  background-image: linear-gradient(180deg, #1b1f2f, #1b1f2f);
}

.slider-3 {
  height: 360px;
  background-image: -webkit-linear-gradient(270deg, #1b1f2f, #1b1f2f);
  background-image: linear-gradient(180deg, #1b1f2f, #1b1f2f);
}

.slide-nav-2 {
  font-size: 10px;
}

.column-21 {
  text-align: center;
}

.column-22 {
  text-align: center;
}

.column-23 {
  text-align: center;
}

.column-24 {
  text-align: center;
}

.paragraph-13 {
  margin-bottom: 15px;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}

.row-4 {
  border-bottom: 1px none #000;
}

.container-5 {
  text-align: center;
}

.column-26 {
  text-align: center;
}

.column-27 {
  text-align: center;
}

.column-28 {
  text-align: center;
}

.column-29 {
  text-align: center;
}

.nav-link-2 {
  margin-top: 10px;
  background-image: url('../images/Group-6.png');
  background-position: 50% 50%;
  background-size: 26px;
  background-repeat: no-repeat;
}

.nav-link-3 {
  margin-top: 10px;
  background-image: url('../images/Group-9.png');
  background-position: 50% 50%;
  background-size: 26px;
  background-repeat: no-repeat;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000005, 0.6000000000000005);
  -ms-transform: scale(0.6000000000000005, 0.6000000000000005);
  transform: scale(0.6000000000000005, 0.6000000000000005);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .navigation-bar.dark {
    height: 60px;
    padding-right: 15px;
    padding-left: 0px;
  }
  .hamburger-button:hover {
    color: #2196f3;
  }
  .hamburger-button.w--open {
    background-color: #333;
  }
  .hamburger-button.left {
    float: left;
  }
  .hamburger-button.white {
    color: #fff;
  }
  .hero-slider {
    height: 400px;
  }
  .hero-section {
    position: relative;
  }
  .form-wrapper.squeezed {
    padding-right: 10%;
    padding-left: 10%;
  }
  .left-navigation {
    width: 100%;
    height: auto;
    float: none;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
  }
  .nav-menu {
    padding: 17px;
    background-color: #333;
  }
  .logo-link {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .social-footer {
    margin-top: 0px;
  }
  .content-column {
    padding-top: 0px;
  }
  .image {
    display: inline-block;
    margin-top: 7px;
  }
  .image-2 {
    width: 140px;
  }
  .image-3 {
    width: 140px;
  }
  .image-10 {
    width: 140px;
  }
}

@media (max-width: 767px) {
  .navigation-bar.dark {
    padding-right: 0px;
  }
  .navigation-menu {
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, .9);
  }
  .brand-link.on-top {
    float: left;
  }
  .brand-link.left-spacing {
    padding-left: 0px;
  }
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero-slider {
    height: 528px;
  }
  .slide {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cta-section {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .cta-heading {
    margin-bottom: 10px;
  }
  .hero-section {
    height: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .hero-heading {
    font-size: 16px;
  }
  .form-wrapper.squeezed {
    padding-right: 9px;
    padding-left: 0px;
  }
  .picture-border {
    margin-bottom: 13px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid-fours {
    width: 33.33%;
  }
  .image-column {
    margin-bottom: 10px;
  }
  .content-column {
    margin-bottom: 13px;
    text-align: center;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .waterfall-content-column {
    padding-top: 0px;
    text-align: center;
  }
  .waterfall-image-column {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .text-block {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .section-2 {
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: 0%, 0%, cover;
  }
  .column-4 {
    padding-bottom: 15px;
    text-align: center;
  }
  .column-5 {
    padding-bottom: 15px;
    text-align: center;
  }
  .column-6 {
    padding-bottom: 15px;
    text-align: center;
  }
  .heading-2 {
    font-size: 22px;
    text-align: center;
  }
  .heading-3 {
    margin-bottom: 0px;
    font-size: 18px;
  }
  .heading-4 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .image-6 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  .container-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container-3 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-9 {
    bottom: 20px;
  }
  .column-7 {
    padding-bottom: 20px;
    text-align: left;
  }
  .image-11 {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .column-8 {
    padding-top: 30px;
  }
  .text-block-7 {
    width: 155px;
  }
  .section-7 {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .heading-6 {
    font-size: 30px;
  }
  .section-8 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-9 {
    padding-top: 0px;
  }
  .column-21 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .column-22 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .column-23 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .column-24 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .column-25 {
    padding-top: 60px;
    text-align: center;
  }
  .image-15 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  .container-5 {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .button.tab {
    margin-bottom: 9px;
  }
  .hero-slider {
    height: 550px;
  }
  .slide {
    padding-right: 53px;
    padding-left: 53px;
  }
  .hero-subheading {
    padding-right: 0px;
    padding-left: 0px;
  }
  .grid-fours {
    width: 50%;
  }
  .heading-5 {
    font-size: 14px;
  }
  .text-field-2 {
    width: 200px;
  }
  .text-block-5 {
    text-align: left;
  }
  .image-12 {
    text-align: left;
  }
  .text-block-7 {
    width: 155px;
  }
  .section-8 {
    padding-top: 60px;
  }
  .section-9 {
    padding-bottom: 40px;
    background-size: cover;
  }
  .paragraph-11 {
    display: block;
    width: 240px;
    margin-right: auto;
    margin-left: auto;
  }
  .column-25 {
    text-align: center;
  }
  .container-4 {
    text-align: center;
  }
  .image-15 {
    width: 80%;
  }
}

.section-11 .w-row, .section-12 .w-row {
  text-align: center;
}

.section-11 .w-col, .section-12 .w-col {
  float: none;
  display: inline-block;
  vertical-align: top;
}
